.books {
  &__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #28478d;
    text-align: center;
    padding: 100px;
  }

  .swiper {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    position: relative;
    height: 600px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(149, 148, 148, 0.7);
    -moz-box-shadow: 0px 0px 5px 1px rgba(149, 148, 148, 0.7);
    box-shadow: 0px 0px 5px 1px rgba(149, 148, 148, 0.7);
  }

  .swiper-slide img {
    width: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 8px 8px 0 0;
  }

  &__info {
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
  }

  &__text {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #354a96;
  }

  &__author {
    font-size: 13px;
    margin-top: 20px;
  }

  .swiper-button-next {
    width: 36px;
    height: 36px;
    background-color: #28478d;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: absolute;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
  }

  .swiper-button-prev {
    width: 36px;
    height: 36px;
    background-color: #28478d;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: absolute;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: url(https://idnayka.ru/wp-content/themes/idnaykaru/assets/images/bg-next.png);
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: url(https://idnayka.ru/wp-content/themes/idnaykaru/assets/images/bg-prev.png);
  }

  &__btn {
    display: block;
    white-space: nowrap;
    border-radius: 5px;
    background-color: #28478d;
    color: #fff;
    margin: 50px auto;
    border: none;
    font-size: 14px;
    line-height: 14px;
    padding: 14px 40px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(149, 148, 148, 0.7);
    -moz-box-shadow: 0px 0px 5px 1px rgba(149, 148, 148, 0.7);
    box-shadow: 0px 0px 5px 1px rgba(149, 148, 148, 0.7);
  }
}
