.header{
  box-shadow: 0px 3px 3px 0px rgba(204,204,204,1);

  background: white;
  &-fix{
    position: sticky;
    width: 100%;
    z-index: 99;
    background: white;
  }
  &__top{
    background-color: #f9f9f9;

    .container-header{
      padding: 15px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
    }
    &-desc{
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
    &-contact{
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
    &-img{
      height: 16px;
      width: 16px;
    }
  }
  &__logo{
    width: 115px;
    height: 40px;
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

  }
  &__menu{
    display: flex;
    column-gap: 30px;
    align-items: center;
    &-item{
      color: #696969;
      font-size: 20px;
      &:hover{
        color: #354a96;
        transform: translateY(-2px);
      }
    }
  }
}