* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.container-header {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@import "header";
@import "first";
@import "Comp";
@import "izd";
@import "news";
@import "services";
@import "books";
@import "magazines";
@import "contacts";
@import "footer";
